
#empathyContent{
 padding: 0%;
 margin-block-start:0%;
}
#empathyContent li {
 margin-left:0;
 text-decoration: none;
 background-image: linear-gradient(to right, rgba(254,205,216 ) 65%,rgba(254,205,216,0));
 background-position: bottom left;
 background-repeat: no-repeat;
 background-size: 0% 2px;

 transition: background-size .5s ease, background-image .5s linear;

 width:fit-content;
 cursor: help;
}

#empathyContent li:not(:last-child) {
 margin-bottom:0.4em;
}

#empathyContent li:hover{
 background-size: 100% 2px;
}

#elemtsContent li:not(:hover) {
 background-size: 0% 2px;
}

.tooltip {
 display: inline;
 position: relative;
 white-space:pre-line;
}

.tooltip:hover {
 text-decoration: none;
}

.tooltip:hover:after {
 background: #111;
 background: rgba(0,0,0,.8);
 border-radius: .5em;
 bottom: 1.35em;
 content: attr(data-text);
 display: block;
 left: 1em;
 padding: .3em 1em;
 position: absolute;
 text-shadow: 0 1px 0 #000;
 white-space: nowrap;
 z-index: 98;
}

.tooltip:hover:before {
 border: solid;
 border-color: #111 transparent;
 border-color: rgba(0,0,0,.8) transparent;
 border-width: .4em .4em 0 .4em;
 bottom: 1em;
 content: "";
 display: block;
 left: 2em;
 position: absolute;
 z-index: 99;
}